[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/Rajendrasinh-AI/hugo-nuo.git
[submodule "public"]
	path = public
	url = https://github.com/Rajendrasinh-AI/rajendrasinh-ai.github.io.git
	branch = master
